<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="icon" href="/image/weather.png">
    <link rel="stylesheet" href="/css/style.css">

</head>

<body>
</body>
<div class="main-content">
  {{>header}}
  <p>This site is Created by Mr Sachin Pandey.</p>
  <img src="/image/aboutimg.jpg">
  <p>created by:{{name}}</p>
</div>

{{>footer}}

</html>